@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

.navbar {
  /* padding: 1.875rem; */
  padding: 0.9375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgb(204, 201, 201);
  max-width: 100vw;
  /* opacity: 90%; */
}

.navbar__logo {
  object-fit: contain;
  /* width: 100%; */
  height: 3.75rem;
}

.navbar__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  cursor: pointer;
  color: black;
  font-family: "Numans", sans-serif;
  letter-spacing: 0.0625rem;
  padding-left: 1.5vw;
  font-size: 1rem;
}

.strong {
  color: black !important;
  text-decoration-line: none !important;
  font-family: "Numans", sans-serif !important;
  letter-spacing: 0.0625rem !important;
}

/* NAVBAR LINKS BUZZ ANIMATION(HOVER.CSS) */

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* FOR MOBILE USERS */

@media only screen and (min-width: 320px) and (max-width: 850px) {
  .navbar__links {
    padding-left: 1.2vw;
    font-size: 0.7rem;
  }

  .navbar__logo {
    height: 2.18rem;
  }

  .navbar {
    padding: 0.9375rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .strong .nav__mobileSize {
    font-size: 0.75rem !important;
  }
}
