@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

.status {
  font-family: "Numans", sans-serif;
  display: flex;
  flex-direction: row;
}

.status__div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.activeBgColor {
  /* background-color: #7e478e; */
  background: linear-gradient(to right, #9a4f8f, #8a246d, #9d50b4);
  /* background-color: #f08000; */
}

.non-activeBgColor {
  background-color: #c0c0c0;
}

.activeColor {
  color: #7e478e;
  /* color: #f08000; */
}

.non-activeColor {
  color: #c0c0c0;
}

.status__bar {
  width: 100%;
  height: 5px;
}

.status__barTitle {
  text-overflow: ellipsis;
  margin: 8px;
  font-weight: 590;
}

/* FOR MOBILE USERS */

@media only screen and (min-width: 320px) and (max-width: 850px) {
  .status__barTitle {
    font-size: 0.7rem;
  }
}

/* 629px */
@media only screen and (max-width: 629px) {
  .status {
    display: none;
  }
}
