.editProduct {
  max-width: 156.25rem;
  margin: auto;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editProduct__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editProduct__image {
  max-height: 70vh;
  max-width: 80vh;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.editProduct__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit__formField--leftLabel {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

.edit__formField {
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  align-items: center;
  flex-wrap: wrap;
}

.edit__formField--label {
  padding: 0.625rem;
}

.edit__formField--subLabel {
  margin-left: 0.625rem;
}

.uploadErrorMsg {
  /* border: 1px solid rgb(207, 66, 66); */
  border-radius: 3px;
  padding: 3%;
  margin-bottom: 10px;
  background-color: rgb(231, 201, 201);
  color: rgb(207, 66, 66);
  font-family: "Numans", sans-serif;
  font-size: 0.83em;
  font-weight: bolder;
}
