@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

.product {
  margin: 1%;
  max-width: 20% !important;
  cursor: pointer;
  transition: transform 450ms;
  position: relative;
}

.productSlider {
  margin: 11%;
  max-width: 100% !important;
  cursor: pointer;
  transition: transform 450ms;
  position: relative;
}

.productShopScreen {
  /* margin: 1%; */
  margin: 5%;
  /* max-width: 23% !important; */
  max-width: 100% !important;
  cursor: pointer;
  transition: transform 450ms;
  position: relative;
}

/* PRODUCTS COMPONENTS */

/* 500x700 => images (ratio: 5:7) */
.product__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 300px;
}

.product__saleTag {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 100;
}

.saleTagColor {
  color: #8a2f77;
}

/* COMMON FOR LINKS */
.link {
  text-decoration: none;
  color: black;
}

.product__directOrder {
  z-index: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0.8s;
  position: relative;
}

.product__directOrder-button {
  background-color: #0000008f;
  color: white;
  font-family: "Numans", sans-serif;
  border: 0px;
  width: 100% !important;
  margin: 0px;
  position: absolute;
  bottom: 0;
}

.product__priceHeart {
  width: 100%;
  margin-top: 4%;
  /* margin-top: 0.75rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__price {
  font-family: "Numans", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product__price--forMargin {
  margin-right: 15px;
}

.product__price--inSale {
  text-decoration-line: line-through;
  color: grey;
  font-weight: 500 !important;
}

/* .product__heart {
  transition: transform 450ms;
} */

.product__title {
  margin-top: 0.25rem;
  font-family: "Numans", sans-serif;
  font-size: 0.875rem;
  white-space: pre-wrap;
}

/* HOVER EFFECTS */

.forSaleSection:hover .saleTagColor {
  color: #a199cf;
}

/* FADING ANIMATIONS */

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 844px) {
  .product__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px !important;
  }

  .product__saleTag {
    font-size: 100% !important;
  }

  .product__price {
    font-size: 11px;
  }
}
